@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root {
    --rojo: #ff0000;
  }
.header {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .section h2 {
    color: var(--rojo);
    margin-bottom: 20px;
  }
  .section {background-color: #d1d1d1;

  }
  
  a {
    color: #0800ff;
  }

  img {
    width: 400px; 
    height: auto; 
  }
  
  p {
    font-size: 20px; 
  }
  
  li {
    font-size: 20px;
  }

  .img-borde-redondeado {
    border: 10px solid #FF9900;
    border-radius: 10px; 
  }
